streamlit
gdown
numpy
opencv-python
Pillow

# PyTorch and Detectron2 dependencies for Python 3.10
torch==2.0.1+cu118
torchvision==0.15.2+cu118

# The correct way to install Detectron2
detectron2 @ https://dl.fbaipublicfiles.com/detectron2/wheels/cu118/torch2.0/detectron2-0.6-cp310-cp310-linux_x86_64.whl
